* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  border: 2px white solid;
  position: relative;
}

#inventory {
  position: absolute;
  width: 1200px;
  height: 80px;
  background: transparent;
  border: 2px solid orange;
  border-radius: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}

#healthBarContainer {
  width: 300px;
  height: 20px;
  background-color: red;
  flex-shrink: 0;
  flex-grow: 0;
}

#scoreBoard {
  position: absolute;
  height: 30px;
  width: 600px;
  margin-bottom: 690px;
  margin-left: 690px;
  display: none;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

#healthBar {
  width: 100%;
  height: 100%;
  background-color: blue;
  flex-shrink: 0;
  flex-grow: 0;
}

.inventoryItem {
  height: 70px;
  width: 70px;
  background: transparent;
  border: 1px solid beige;
  border-radius: 10px;
  transition: all 250ms;
  &:hover {
    background-color: skyblue;
    opacity: 50%;
    color: black;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
}

#pauseButton {
  height: 40px;
  width: 40px;
  background-image: url("../Assets/Pause.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
  transition: all 250ms;
  &:hover {
    transform: scale(1.3);
  }
}

#score {
  color: beige;
  font-size: 35px;
}

#gameOver {
  height: 250px;
  width: 400px;
  background: transparent;
  backdrop-filter: saturate(180%) blur(8px);
  border: beige solid 2px;
  border-radius: 20px;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}

.score,
.highscore {
  color: beige;
}
.restartButton {
  height: 40px;
  width: 90px;
  font-size: 50;
  background: transparent;
  border-radius: 20px;
  border: beige solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms;
  &:hover {
    background-color: beige;
    color: black;
    border-color: orange;
  }
}
